.counter {
    margin-top: 30px;
    margin-bottom: 40px;
    background-color: #EFBF43;
}

.counter__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.counter__item {
    width: 100%;
    max-width: 200px;
    border-right: 1px dashed transparent;
    border-left: 1px dashed transparent;
}

.counter__item:nth-child(2) {
    border-color: #000;
}

.counter__number {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
}

.counter__text {
    font-size: 16px;
}

@media screen and (min-width: 414px) {
    .counter__number {
        font-size: 30px;
        line-height: 38px;
    }

    .counter__text {
        font-size: 20px;
        line-height: 25px;
    }
}

@media screen and (min-width: 992px) {
    .counter {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .counter__container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .counter__item:first-child {
        border-left-color: #000;
    }

    .counter__item:last-child {
        border-right-color: #000;
    }

    .counter__number {
        font-size: 40px;
        line-height: 50px;
    }

    .counter__text {
        font-size: 26px;
        line-height: 33px;
    }
}
