.feedback {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #F7EDD5;
}

.feedback__container {
    max-width: 551px;
}

@media screen and (min-width: 992px) {
    br {
        display: none;
    }

    .feedback {
        padding-bottom: 80px;
    }
}
