.how-start {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #F7EDD5;
}

.how-start__title {
    margin-bottom: 30px;
}

.how-start__title:after {
    background-color: #3FC682;
}

.how-start__undertitle {
    position: relative;
    max-width: 741px;
    margin-bottom: 50px;
}

.how-start__undertitle strong {
    display: block;
    margin-top: 17px;
}

.how-start__trigger {
    color: #2531DC;
    cursor: pointer;
}

.how-start__trigger:hover .how-start__hint {
    z-index: 1;
    opacity: 1;
    transform: none;
}

.how-start__hint {
    position: absolute;
    bottom: calc(100% + 25px);
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 107px;
    padding: 25px 20px;
    color: #000;
    text-align: center;
    cursor: auto;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 0 25px 5px rgb(0 0 0 / 10%);
    opacity: 0;
    transition: .15s ease;
    transform: translateY(10px);
}

.how-start__hint:after {
    position: absolute;
    bottom: -38px;
    left: calc((100% - 40px)/2);
    content: '';
    border: 20px solid transparent;
    border-top: 20px solid #fff;
}

.how-start__steps {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
    margin: -15px;
    text-align: left;
}

.how-start__step {
    padding: 15px;
}

.step__inner {
    height: 100%;
    padding: 25px;
    color: #fff;
    background-color: #2531DC;
    border-radius: 20px;
}

.step__title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
}

.step__title:after {
    position: absolute;
    top: -20px;
    right: -12px;
    font-weight: 700;
    color: #EFBF43;
    content: attr(data-count);
    opacity: .7;
}

.step a {
    font-weight: 500;
    color: #EFBF43;
    text-decoration: underline;
}

@media screen and (min-width: 375px) {
    .step__inner {
        padding: 30px;
    }

    .step__title {
        padding-right: 35px;
    }

    .step__title:after {
        top: 0;
        opacity: 1;
        right: 0;
    }
}

@media screen and (min-width: 768px) {
    .how-start__step {
        width: 50%;
    }

    .how-start__trigger {
        position: relative;
    }

    .how-start__hint {
        bottom: 42px;
        left: 15%;
        width: 280px;
    }

    .how-start__hint:after {
        bottom: -18px;
        left: 0;
        border: 20px solid transparent;
        border-top: 20px solid #fff;
        border-left: 35px solid #fff;
    }
}

@media screen and (min-width: 992px) {
    .how-start {
        padding-top: 80px;
    }

    .step__inner {
        padding: 40px;
    }

    .how-start__hint {
        left: 45%;
        width: 443px;
        box-shadow: 0px 20px 25px rgb(0 0 0 / 10%);
    }
}
