.what-include {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #fff;
}

.what-include__title {
    margin-bottom: 50px;
}

.what-include__title:after {
    background-color: #DC424C;
}

.what-include__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: -17.5px;
    margin-right: -15px;
    margin-bottom: -17.5px;
    margin-left: -5px;
    text-align: left;
}

.what-include__item {
    padding-top: 17.5px;
    padding-right: 15px;
    padding-bottom: 17.5px;
    padding-left: 15px;
}

.include__image {
    margin-right: 24px;
    margin-bottom: 25px;
}

.include__title {
    margin-bottom: 15px;
}

@media screen and (max-width: 767px) and (min-width: 375px) {
    .what-include__item {
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .what-include__item {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .what-include {
        padding-top: 120px;
        padding-bottom: 120px;
        text-align: left;
    }

    .what-include__item {
        width: calc(100%/4);
    }
}
