.who-needs {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.who-needs__title {
    margin-bottom: 97px;
}

.who-needs__title:after {
    background-color: #EFBF43;
}

.who-needs__cards {
    margin-top: -73px;
    margin-bottom: -73px;
}

.who-needs__card {
    margin: 73px auto;
}

.who-needs__card:first-child {
    background-color: #D4EFE1;
}

.who-needs__card:nth-child(2) {
    background-color: #F7EDD5;
}

.who-needs__card:last-child {
    background-color: #E6D7F4;
}

.card {
    position: relative;
    padding: 58px 35px 35px;
    border-radius: 20px;
}

.card__icon {
    position: absolute;
    top: -47px;
    right: calc((100% - 80px)/2);
}

.card__title {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .who-needs__card {
        width: 100%;
        max-width: 65%;
    }
}

@media screen and (min-width: 992px) {
    .who-needs {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .who-needs__cards {
        display: flex;
    }

    .who-needs__card {
        width: calc(100%/3);
        margin-right: 20px;
        margin-left: 20px;
    }
}
