@font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 500;
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Cera Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #000;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2531DC;
}

.main {
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1180px;
    padding-right: 20px;
    padding-left: 20px;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.bg-dot {
    background-image: url('../images/bg-dot.svg');
    background-position: top center;
}

.hide-text {
    font-size: 0;
    color: transparent;
}

.btn {
    display: inline-flex;
    padding: 19px 24px;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 110px;
    transition: .25s ease-in-out;
}

.btn_yellow {
    color: #000;
    background-color: #EFBF43;
    border-color: #000;
}

.btn_yellow:hover {
    background-color: #fff;
}

.title {
    display: inline-flex;
    font-weight: 700;
    color: #000;
}

.title_primary {
    font-size: 33px;
    line-height: 41px;
}

.title_secondary {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
}

.title_content {
    font-size: 23px;
    line-height: 33px;
}

.title_border {
    position: relative;
    justify-content: center;
}

.title_border:after {
    position: absolute;
    bottom: 0;
    width: 226px;
    height: 3px;
    content: '';
    background-color: currentColor;
}

.icon {
    display: inline-flex;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 20px 25px rgb(0 0 0 / 10%);
}

.icon img {
    width: 70px;
    height: 70px;
    margin: auto;
}

@media screen and (min-width: 414px) {
    .title_content {
        font-size: 26px;
    }
}

@media screen and (min-width: 992px) {
    .title_primary {
        font-size: 60px;
        line-height: 75px;
    }

    .title_secondary {
        padding-bottom: 15px;
        font-size: 40px;
        line-height: 80px;
    }

    .title_border_left {
        justify-content: flex-start;
    }
}
